{
    "extends": "airbnb-base",
    "overrides": [
        {
            "files": ["src/**/cli.js"],
            "rules": {
                "global-require": "off",
                "import/no-dynamic-require": "off",
                "no-unused-expressions": "off"
            }
        }
    ]
}